name: CI + CD

on:
  push:
    branches: [development, staging, main]
  pull_request:
    branches: [development]
  workflow_dispatch:
    inputs:
      deploy_target:
        description: "Deploy target"
        required: true
        type: choice
        options:
          - staging
          - production

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"

      - name: Verify Dependencies
        run: go mod verify

      - name: Build
        run: go build -v ./...

      - name: Run go vet
        run: go vet ./...

      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest

      - name: Run staticcheck
        run: staticcheck ./...

      - name: Test
        run: go test -v ./...

  DeployDev:
    name: Deploy to Dev
    if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
    needs: [Build]
    runs-on: ubuntu-latest
    environment:
      name: Development
      url: "https://finflowapi-development.up.railway.app"
    steps:
      - name: Deploy
        run: echo "Deploying to Development..."

  DeployStaging:
    name: Deploy to Staging
    if: github.event_name == 'workflow_dispatch' && (github.event.inputs.deploy_target == 'staging' || github.event.inputs.deploy_target == 'production')
    needs: [Build]
    runs-on: ubuntu-latest
    environment:
      name: Staging
      url: "https://finflowapi-staging.up.railway.app"
    steps:
      - name: Deploy
        run: echo "Deploying to Staging..."

  DeployProd:
    name: Deploy to Production
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.deploy_target == 'production'
    needs: [Build, DeployStaging]
    runs-on: ubuntu-latest
    environment:
      name: Production
      url: "https://finflowapi-production.up.railway.app"
    steps:
      - name: Deploy
        run: echo "Deploying to Production..."
